<% include ./partials/header.ejs %>

<!-- <html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../../public/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to GroupProj</p>
  </body>
</html> -->

<% include ./partials/footer.ejs %>
